.ant-upload-picture-card-wrapper{
    display: flex;
    justify-content: center;
}

.ant-upload.ant-upload-select-picture-card {
    border: none;
    border-radius: 50%;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding:0
}

.ant-upload.ant-upload-select-picture-card > .ant-upload > img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
    object-fit: cover;
}

.inputFirstName {
    border: 1px solid #f5222d
}

.inputFirstName:hover {
    border: 1px solid #f5222d
}

.inputFirstName:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}

.inputLastName {
    border: 1px solid #f5222d
}

.inputLastName:hover {
    border: 1px solid #f5222d
}

.inputLastName:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}


.inputCountry {
    border: 1px solid #f5222d
}

.inputCountry:hover {
    border: 1px solid #f5222d
}

.inputCountry:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}


.inputEmail {
    border: 1px solid #f5222d
}

.inputEmail:hover {
    border: 1px solid #f5222d
}

.inputEmail:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}

.inputBirthday .ant-input {
    border: 1px solid #f5222d; 
    border-radius: 6px
}

.inputBirthday .ant-input:focus {
    border: 1px solid #f5222d;
    box-shadow: 0 0 0 2px #f5222d33
}

.inputBirthday .ant-input:hover {
    border: 1px solid #f5222d;
}