.ant-upload-picture-card-wrapper{
    display: flex;
    justify-content: center;
}

.ant-upload.ant-upload-select-picture-card {
    border: none;
    border-radius: 50%;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding:0
}

.ant-upload.ant-upload-select-picture-card > .ant-upload > img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
    object-fit: cover;
}

.test {
    border: 1px solid #f5222d
}

.test:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}