.header{
    display: flex;
    justify-content: flex-end;
    padding:0 16px!important;
    background: #fff;
    padding: 0 ;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

.header-right{
    display: flex;
    align-items: center;
}