.ant-upload-picture-card-wrapper{
    display: flex;
    justify-content: center;
}

.ant-upload.ant-upload-select-picture-card {
    border: none;
    border-radius: 50%;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding:0
}

.ant-upload.ant-upload-select-picture-card > .ant-upload > img {
    border-radius: 50%;
    width: 104px;
    height: 104px;
    object-fit: cover;
}
