.inputFirstName {
    border: 1px solid #f5222d
}

.inputFirstName:hover {
    border: 1px solid #f5222d
}

.inputFirstName:focus {
    box-shadow: 0 0 0 2px #f5222d33;
    border: 1px solid #f5222d
}